*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: $font-size-base;
  font-weight: $font-weight-thin;
  font-family: $font-family;
  box-sizing: border-box;
  overflow: hidden;
  background: $color-main-bg;
  color: $color-main-text;
}

body {
  font-size: 1.3rem;
}

input, button {
  border: 0;
  font-size: 1.3rem;
  border-radius: .3rem;
  outline: 0;
  padding: .6rem .7rem;
}

button {
  background: $color-btn-bg;
  color: $color-btn-text;
  padding: .6rem 1rem;
  cursor: pointer;

  &:active {
    box-shadow: inset 0 1rem 1rem -1rem rgba(0,0,0,1);
  }
}

a, a:link, a:visited {
  color: $color-link;
  text-decoration: none;
  cursor: pointer;
}