$color-white: #fff;
$color-black: #000;
$color-orange: #ff7d2e;

$color-overlay-bg: rgba($color-black, .7);
$color-main-bg: #181818;
$color-bg-secondary: #282828;
$color-main-text: $color-white;
$color-primary: #333;
$color-btn-bg: #0191f7;
$color-btn-text: #fff;
$color-sidebar-bg: #212121;
$color-link: #aaa;
$color-link-hovered: #fff;
$color-highlight: $color-orange;

$font-size-base: 62.5%;
$font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$header-height: 4.8rem;
$footer-height: 6.4rem;

$font-weight-ultra-thin: 100;
$font-weight-thin: 300;
